<!DOCTYPE html>
<html>
    <head>
        <title>Select Ass</title>
    </head>
    <body>
        <select multiple>
            <option class='all'>ALL</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <select multiple>
            <option class='all'>ALL</option>
            <option data-ass="A">A1</option>
            <option data-ass="A">A2</option>
            <option data-ass="A">A3</option>
            <option data-ass="B">B1</option>
        </select>
        <select multiple>
            <option class='all'>ALL</option>
            <option data-ass="A">A1x</option>
            <option data-ass="A">A1y</option>
            <option data-ass="A">A2x</option>
            <option data-ass="A">B1x</option>
        </select>
    </body>
</html>