<!DOCTYPE html>
<html>
    <head>
        <title>Select Ass</title>
    </head>
    <body>
        <select>
            <option></option>
            <option></option>
            <option></option>
            <option></option>
        </select>
        <select>
            <option></option>
            <option></option>
            <option></option>
            <option></option>
        </select>
        <select>
            <option></option>
            <option></option>
            <option></option>
            <option></option>
        </select>
    </body>
</html>