{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Select Ass</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{% static 'App/js/filter.js' %}"></script>
    </head>
    <body>
        <select multiple>
            <option class='all'>ALL</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <select multiple>
            <option class='all'>ALL</option>
            <option data-ass="[A]">A1</option>
            <option data-ass="[A]">A2</option>
            <option data-ass="[A]">A3</option>
            <option data-ass="[B]">B1</option>
        </select>
        <select multiple>
            <option class='all'>ALL</option>
            <option data-ass="[A1]">A1x</option>
            <option data-ass="[A1]">A1y</option>
            <option data-ass="[A2]">A2x</option>
            <option data-ass="[B1]">B1x</option>
        </select>
    </body>
</html>